<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>nunisa</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyles.css">
</head>
<body ng-app="myngapp">
	<ui-view></ui-view>
	<script src="/javascripts/angular-1.3.10.min.js"></script>
	<script src="/javascripts/angular-ui-router-0.2.10.js"></script>
	<script src="/javascripts/myngApp.js"></script>
	<script type="text/ng-template" id="/home.html">
		<div class="container text-justify text-muted">
			<div class="row text-center">
				<div class="col-xs-12">
					<nav class="navbar navbar-default col-xs-10 custom-navbar-10">
						<ul class="nav navbar-nav">
							<li><a href="/#/home"><strong>{{headingTitle}}</strong></a></li>
						</ul>
					</nav>
					<nav class="navbar navbar-default col-xs-2 custom-navbar-2" ng-controller="NavCtrl">
						<ul class="nav navbar-nav">
							<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
							<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-success" role="alert" ng-repeat="post in posts | orderBy: '-upvotes'">
						<button class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)" id="{{post._id+'-postUpvote'}}" ng-disabled="post.hadUpvoted"><span class="badge">{{post.upvotes}}</span></button>
						<button class="glyphicon glyphicon-thumbs-down" ng-click="incrementDownvotes(post)" id="{{post._id+'-postDownvote'}}" ng-disabled="post.hadDownvoted"><span class="badge">{{post.downvotes}}</span></button>
						<span ng-show="post.author">Posted by <a>{{post.author}}</a> | </span>
						<a class="text-muted" ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
						<span class="text-muted" ng-hide="post.link">{{post.title}}</span>&nbsp;&nbsp;
						<a href="#/posts/{{post._id}}" id="postComment"><span class="glyphicon glyphicon-comment"></span><span class="badge">{{post.comments.length}}</span></a>
					</div>
				</div>
			</div>
			<div class="row text-justify text-muted" ng-show="isLoggedIn()">
				<div class="col-xs-12">
					<form ng-submit="addPost()" ng-show="isLoggedIn() && postFormShown">
						<h4>Add a new post</h4>
						<div class="row">
							<div class="col-xs-8">
								<input type="text" placeholder="Title" class="form-control" name="title" id="title" ng-model="title">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8">
								<input type="text" placeholder="Link" class="form-control" name="link" id="link" ng-model="link">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button type="submit" class="btn btn-primary btn-md">Post your thought</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row" ng-hide="isLoggedIn()">
				<div class="col-xs-12">
					<i>You need to <a href="/#/login">Login</a> or <a href="/#/register">Register</a> before you can add a post.</i>
				</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-xs-12">
					<button class="btn btn-primary btn-md" ng-click="showPostForm()" ng-hide="!isLoggedIn() || postFormShown==1">Post your thought</button>
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="/posts.html">
		<div class="container text-justify text-muted">
			<div class="row text-center">
				<div class="col-xs-12">
					<nav class="navbar navbar-default col-xs-10 custom-navbar-10">
						<ul class="nav navbar-nav">
							<li><a href="/#/home"><strong>{{headingTitle}}</strong></a></li>
						</ul>
					</nav>
					<nav class="navbar navbar-default col-xs-2 custom-navbar-2" ng-controller="NavCtrl">
						<ul class="nav navbar-nav">
							<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
							<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-success" role="alert">
						<a class="text-muted" ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
						<span class="text-muted" ng-hide="post.link">{{post.title}}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-warning" role="alert" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
						<button class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)" id="{{comment._id+'-commentUpvote'}}" ng-disabled="comment.hadUpvoted"><span class="badge">{{comment.upvotes}}</span></button>
						<button class="glyphicon glyphicon-thumbs-down" ng-click="incrementDownvotes(comment)" id="{{comment._id+'-commentDownvote'}}" ng-disabled="comment.hadDownvoted"><span class="badge">{{comment.downvotes}}</span></button>
						<span class="text-muted"> - by {{comment.author}}</span>
						<span class="text-muted">{{comment.body}}</span>
					</div>
				</div>
			</div>
			<div class="row text-justify text-muted" ng-show="isLoggedIn()">
				<div class="col-xs-12">
					<form ng-submit="addComment()" ng-show="isLoggedIn() && commentFormShown">
						<h5>Add a new comment</h5>
						<div class="row">
							<div class="col-xs-8">
								<input type="text" placeholder="Comment" class="form-control" name="body" id="body" ng-model="body">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label class="sr-only" for="author">Author</label>
									<input type="text" placeholder="Author" class="form-control" name="author" id="author" ng-model="author">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button type="submit" class="btn btn-primary btn-md">Comment</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row" ng-hide="isLoggedIn()">
				<div class="col-xs-12">
					<i>You need to <a href="/#/login">Login</a> or <a href="/#/register">Register</a> before you can comment on a post.</i>
				</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-xs-12">
					<button class="btn btn-primary btn-md" ng-click="showCommentForm()" ng-hide="!isLoggedIn() || commentFormShown==1">Comment</button>
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="/register.html">
		<div class="container text-center text-muted">
			<div class="row">
				<div class="col-xs-12">
					<nav class="navbar navbar-default col-xs-10 custom-navbar-10">
						<ul class="nav navbar-nav">
							<li><a href="/#/home"><strong>{{headingTitle}}</strong></a></li>
						</ul>
					</nav>
					<nav class="navbar navbar-default col-xs-2 custom-navbar-2" ng-controller="NavCtrl">
						<ul class="nav navbar-nav">
							<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
							<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Oops!</strong> <span>{{error.message}}</span>
					</div>
				</div>
			</div>
			<div class="row text-muted">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-inline" ng-submit="register()">
								<h4>Sign Up</h4>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label for="username">Username</label>
											<input type="text" placeholder="Username" class="form-control" name="username" id="username" ng-model="user.username">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label for="password">Password</label>
											<input type="password" placeholder="Password" class="form-control" name="password" id="password" ng-model="user.password">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<button type="submit" class="btn btn-primary btn-md">Register</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="/login.html">
		<div class="container text-center text-muted">
			<div class="row text-center">
				<div class="col-xs-12">
					<nav class="navbar navbar-default col-xs-10 custom-navbar-10">
						<ul class="nav navbar-nav">
							<li><a href="/#/home"><strong>{{headingTitle}}</strong></a></li>
						</ul>
					</nav>
					<nav class="navbar navbar-default col-xs-2 custom-navbar-2" ng-controller="NavCtrl">
						<ul class="nav navbar-nav">
							<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
							<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
							<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Oops!</strong> <span>{{error.message}}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-inline" ng-submit="logIn()">
								<h4>Sign In</h4>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label for="username">Username</label>
											<input type="text" placeholder="Username" class="form-control" name="username" id="username" ng-model="user.username">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label for="password">Password</label>
											<input type="password" placeholder="Password" class="form-control" name="password" id="password" ng-model="user.password">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<button type="submit" class="btn btn-primary btn-md">Login</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
</body>
</html>