h1 {
	margin-bottom: none;
    margin-top: 20px;
}
.alert {
	margin-bottom: 1px !important;
}
.form-control {
	margin: 5px 0px;
}
.custom-navbar-10 {
	background: #dff0d8 none repeat scroll 0 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.custom-navbar-2 {
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
a#postComment > span.badge {
	background-color: #cc3300;
    border-bottom-left-radius: 0;
    border-color: #2e6da4;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    margin-top: -8px;
    min-width: 10px;
    padding: 1px 3px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
button[id$="-postUpvote"], button[id$="-commentUpvote"] {
	background: transparent none repeat scroll 0 0;
    border: 0 none;
    padding: 0px;
    transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
button[id$="-postUpvote"] > span.badge, button[id$="-commentUpvote"] > span.badge {
	background-color: #009933;
    border-bottom-right-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    margin-left: -6px;
    margin-top: -12px;
    min-width: 10px;
    padding: 1px 3px;
    text-align: center;
    top: -7px;
    vertical-align: top;
    white-space: nowrap;
    transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
button[id$="-postDownvote"], button[id$="-commentDownvote"] {
	background: transparent none repeat scroll 0 0;
    border: 0 none;
    padding: 0px;
}
button[id$="-postDownvote"] > span.badge, button[id$="-commentDownvote"] > span.badge {
	background-color: #cc3300;
    border-top-left-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    margin-left: -6px;
    margin-bottom: -12px;
    min-width: 10px;
    padding: 1px 3px;
    text-align: center;
    top: -7px;
    vertical-align: bottom;
    white-space: nowrap;
}